body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(27, 40, 75); */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333E63' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%237E86B1'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    background-size: cover;background-color: #1B284B;
    background-position: center;
    margin-left: 20px;
    margin-bottom: 80px;
}

.firma{
    background-color: rgb(27, 40, 75);
    color: rgb(158, 156, 156);
    border: none;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 25px;
    margin-right: 40px;
    transition: color, opacity 0.15s;
}
.firma:hover{
    color: white;
}
.firma:active{
    background-color: rgb(27, 40, 75);
    color: rgb(13, 102, 43);
}

.koddugme{
    display: flex;
    justify-content: flex-end;
}
.dugme{
    color: rgb(158, 156, 156);
    background-color: rgb(27, 40, 75);
    border-style:solid ;
    font-size: 20px;
    border-radius: 18px;
    border-color: rgb(158, 156, 156);
    padding: 5px 17px 5px 17px;
    align-items: right;
    margin-right: 30px;
    transition: background-color, opacity 0.15s;
}
.dugme:hover{
    color: rgb(13, 102, 43); 
    border-color: rgb(13, 102, 43);  
    background-color: rgb(27, 40, 75); 
}
.dugme:active{
    background-color: rgb(13, 102, 43);
    color: rgb(27, 40, 75);
}

.buttons{
    margin-top: 20px;
    margin-bottom: 50px;
}
.first{
    background-color: rgb(27, 40, 75);
    color: white;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-right: 40px;
    transition: color, 0.15s;
}
.first:hover{
    color: rgb(0, 225, 255);
}

.second{
    background-color: rgb(27, 40, 75);
    color: rgb(0, 225, 255);
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-right: 40px;
}

.third{
    background-color: rgb(27, 40, 75);
    color: white;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-right: 40px;
    transition: color, 0.15s;
}
.third:hover{
    color: rgb(0, 225, 255);
}

.forth{
    float:right;
    margin-right: 30px;
    background-color: rgb(27, 40, 75);
    color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 225, 255);
    border-radius: 18px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color, opacity 0.15s;
}
.forth:hover{
    background-color: rgb(0, 225, 255);
    color: black;
}
.forth:active{
    opacity: 0.5;
}

.fifth{
    float:right;
    margin-right: 20px;
    background-color: rgb(27, 40, 75);
    color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 225, 255);
    border-radius: 18px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color, opacity 0.15s;
}
.fifth:hover{
    background-color: rgb(0, 225, 255);
    color: black;
}
.fifth:active{
    opacity: 0.5;
}

h1 {
    font-size: 48px;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 225, 255);
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}

.text{
    margin-top: 100px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
}

.prvi-paragraf{
    margin-left: 30px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.sixth{
    display: block;
    margin: 0 auto;
    background-color: rgb(27, 40, 75);
    color: rgb(0, 225, 255);
    border: 1px;
    border-radius: 18px;
    border-style: solid;
    border-color: rgb(0, 225, 255);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color, opacity 0.15s;
    margin-bottom: 60px;
}
.sixth:hover{
    background-color: rgb(0, 225, 255);
    color: black;
}
.sixth:active{
    opacity: 0.5;
}

span{
    color: rgb(0, 225, 255);
}

p{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

ol{
    margin-left: 50px;
    margin-top: 150px;
    font-size: 18px;
    line-height: 25px;

}

/*malo sam uredio da se istaknu neke stvari pa ti mijenjaj kako tebi odgovara*/

/* .more ti je sav ovaj tekst sto izadje kad pritisnes tri tacke */

.more {
    display: none; /*ne diraj ovu liniju*/

    color: #d3d0d0;
}

/* .btn su ove tri tacke ili "<" */

.btn {
    color: rgb(0, 225, 255);
    font-weight: bold;
    text-shadow: 0px 0px 2px #0000FF;
    margin-inline: 4px;
    cursor: pointer;
}

.kraj{
    margin-top: 70px;
}

hr{
    margin-top: 100px;
    margin-bottom: 30px;
}

.Copyright{
    text-align: left;
    margin-bottom: 5px;
    font-size: 15px;
}
.Copyrightdva{
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
    color: gray;
}

.footer{
    display: inline-block;
}

.ending{
    margin-top: 0px;
    text-align: right;
    font-size: 15px;
}

.button-container{
    text-align: right;
}

.ende{
    background-color: rgb(27, 40, 75);
    color: white;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    transition: color, 0.15s; 
    padding-right: 20px;
}
.ende:hover{
    color: rgb(0, 225, 255);
}

.instagram{
    background-color: rgb(27, 40, 75);
    color: white;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    transition: color, 0.15s; 
}
.instagram:hover{
    color: rgb(0, 225, 255);
}
.instagram:active{
    background-color: rgb(27, 40, 75);
    color: rgb(13, 102, 43);
}

.instagramodjava{
    font-size: 15px;
}

.savjeti {
    border-radius: 48px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
}
